<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand h2 text-danger" href="">Zomato</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %} <!-- Add 'ms-auto' class here -->
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'restaurantapp:bookmarks' %}">Bookmark</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'restaurantapp:my_visited_restaurants' %}">Visited</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'restaurantapp:logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'restaurantapp:login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>