{% extends 'main.html' %}

{% block content %}
  <div class="container mt-4">
    <h1>My Bookmarks</h1>
    {% if bookmarks %}
      <table class="table">
        <thead>
          <tr>
            <th>Restaurant</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for bookmark in bookmarks %}
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <img src="{{ bookmark.restaurant_photo_home.url }}" class="mr-3" alt="Restaurant Photo" width="100">
                  <h5>{{ bookmark.restaurant.title }}</h5>
                </div>
              </td>
              <td>
                <form action="{% url 'restaurantapp:remove_bookmark' bookmark.id %}" method="post">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>You have no bookmarks.</p>
    {% endif %}
  </div>
{% endblock content %}
